<div class="container-fluid friends-purchase">
    <br>
    <div class="container">
        <center><a href="http://halalfoodhunt.com"><img class="img-responsive" src="http://friends.jumaiyah.com/wp-content/uploads/2016/04/HFFH_LOGO_2106-small.png" alt="Chania"></a></center><br>
    <div class="col-md-8 col-md-offset-2" style="background:#fff; border:5px solid #22211d;">
<h2>Subscription Form</h2>

<%= render 'form' %>
<br>
</div>
</div>
</div>
